<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'Home' %}">Home</a></li>
            <li><a href="{% url 'About' %}">About</a></li>
            <li><a href="{% url 'Contact' %}">Contact</a></li>
        </ul>
    </nav>
    <h2>Home Page</h2>
    <hr \>

    {% if result1.id %}
    <p>Task Id: {{ result1.id }}</p>
    <a href="{% url 'check_result' result1.id %}">
        Check Result
    </a>
    {% endif %}     
    
</body>
</html>